
/*-- navbar--*/
html, body {
    scroll-behavior: smooth;
}
.header {
    display: flex;
    justify-content: space-between; /* This will push the logo to the right and the nav links to the left */
    align-items: center; /* Vertically center the items */
    padding: 10px 20px; /* Add padding for spacing */
    position: sticky;
    top: 0; /* top of viewport */
    z-index: 100; /* always on other stack */
    background-color: rgba(255, 255, 255, 0.001); /* Adjust the alpha (last value) for transparency */
    backdrop-filter: blur(10px);
    height: 2rem;
}
.navbar-shadow{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; 
}

.navbar {
    display: flex; /* Make the navigation links flex items */
}

.header a {
    margin-right: 20px; /* Add margin between the navigation links for spacing */
    text-decoration: none;
    color: #333; /* Set the color of the links */
    font-weight: 550;
    font-family: "Gill Sans", sans-serif;
}

.my_name{
    font-size: 20px;
}
/*-- navbar--*/



/*-- body --*/
/*-- Home section --*/
body{
    padding: 0;
    margin: 0;
    background-image: url('images/header.png'); /* Set the background image on the body */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.home-body{
    width: 100%;
    background-size: 100%; /* Adjust background size as needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover;
    background-image: url('images/body-background.png'); 
    height: calc(100vh - 2rem);
}

.home{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 10%;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
}   
.content {    
    /* Add any other styles for the content here */
    flex:1;
    box-sizing: border-box;
    display: flex; /* Use flexbox for vertical alignment */
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center;
}

.text{
    width: 90%;
}

/*--animation--*/
.profile-div{
    width: 40%; 
    display: flex; /* Use flexbox for vertical alignment */
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center;
}
.box{
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0);
    overflow: hidden;
    border-radius: 20px;
}

.box::before{
    content: '';
    position: absolute;
    width: 30%;
    height:200%;
    background: linear-gradient(to bottom right, #6DC7FF, #E6ABFF);
    box-shadow: 0 0 20px rgb(8,8,8) ;
    animation: animate 4s linear infinite;

}

.box::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 16px;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
/*--end of animation--*/

.profile_pic{
    width: 90%;
    height: 90%;
    margin: 0;
    border-radius: 20px;
    position: absolute;
}

.logo {
    width: 25px; /* Adjust the width to make the logos smaller */
    height: 25px; /* Adjust the height to make the logos smaller */
    margin-right: 15px; /* Add margin between the logos for spacing */
    margin-left: 15px;
    vertical-align: middle;
}

.bigger{
    width: 35px; /* Adjust the width to make the logos smaller */
    height: 35px;
}
.icon a{
    text-decoration: none;
}

h1 , p, h2{
    font-weight: 550;
    font-family: "Gill Sans", sans-serif;   
}
.text h1{
    color: #333; 
    font-size: 50px;
    margin: 0;
    font-weight: 700;
}

p{
    color:grey;
    font-size: 18px;
}


.tech-stack p {
    margin-right: 10px; /* Add some spacing between the text and images */
    display: inline; /* Make the <p> element inline */
    vertical-align: middle; /* Align the <p> element vertically in the middle */
    color: #333; 
}

.tech-stack {
    padding-top: 20px;
    padding-bottom: 10px;
    display: inline-block; /* Ensure the elements are inline */
    vertical-align: middle; /* Align elements vertically in the middle */
}

.scroll-down{
    flex-basis: 100%; /* Make .scroll-down take up 100% of the width */
    text-align: center; 
    justify-content: center;
    height: 100px;
}
.scroll-down .logo{
    width: 30px;
    height: 30px;
}


@media (max-width: 768px) {
    .home {
        width: 90%; /* 100% width for full responsiveness */
        height: cal(100vh - 60px);
    }
    .text{
        width: 95%;
    }
    .box{
        width: 100%;
        height: 40%;
    }
    .text h1{
        font-size: 35px;
        margin: 0;
        font-weight: 700;
    }
    p{
        font-size: 13px;
    }
}
/*--End of Home--*/

/*--------------------------------*/
/*-- About Section--*/
.about{
    width: 100%;
    background-image: url('images/background.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
}

.intro-sec ,.about-content, .edu-boxes, .project-content, .contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width:70%;
}

.intro-sec h1{
    font-weight: 650;
    font-size: 45px;
}

.intro-sec{
    padding-top: 3%;
    padding-bottom: 3%;
}

.line{
    height: 3px;
    width: 70%;
    background: linear-gradient(to right, #6DC7FF, #E6ABFF)
}

.avatar{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.avatar-inner{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-img{
    height: 100%;
    width: 100%;
}

.intro-content{
    width: 60%;
}

.hire-button {
    padding: 2% 4%;
    background-color: #2f8aec; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underlines from the link */
    border-radius: 20px; /* Rounded corners */
    font-weight: bold;
    font-size: 16px; /* Adjust font size as needed */
}


.hire-button:hover {
    background-color: #0056b3; /* Change color on hover */
}

/*-- Education Section--*/
.edu-boxes{
    padding-top: 10px;
}

.outer-box{
    display: flex;
    height: 300px;
    border-radius: 20px;
    width: 45%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    justify-content: space-evenly;
}
.edu-design{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.edu-design .logo{
    width: 80%; /* Adjust the width to make the logos smaller */
    height: 15%; /* Adjust the height to make the logos smaller */
    padding-top: 10px;
    margin: 0;

}
.edu-text{
    width: 80%;
    height: 100%;
}
.black{
    color: #333; 
    font-size: 19px;
}
.edu-line{
    width: 3px;
    height: 75%;
    background: linear-gradient(to bottom, #6DC7FF, #E6ABFF);
    margin: 0;
}
.for-free{
    padding-bottom: 3%;
}
@media (max-width: 1000px) {
    .outer-box{
        height: 350px;
    }
    .avatar{
        width: 200px;
        height: 200px;
    }
    .home{
        width: 80%;
    }
}
@media (max-width: 550px) {

    .avatar{
        width: 150px;
        height: 150px;
    }

}


@media (max-width: 768px) {
    .intro-sec, .about-content, .edu-boxes, .project-content{
        width: 95%;
    }

    .p, .hire-button, .black{
        font-size: 13px;
    }
    .line{
        width: 60%;
    }
    .intro-sec h1{
        font-size: 27px;
    }
    .edu-design .logo{
        width: 110%; 
    }
    .outer-box{
        height: 270px;
    }
    .intro-sec{
        padding-top: 5%;
    }

}
/*-- End of Edu Section--*/
/*-- End of About--*/
/*--------------------------------*/

/*-- Project--*/
.project-content{
    padding-bottom: 4%;
}
.project-text{
    width: 45%;
    height: 380px;
}
.image-div{
    width: 45%;
    height: 380px;
    position: relative;
}
.project-image, .image-shade{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.image-shade{
    background: linear-gradient(to bottom right, #6DC7FF, #E6ABFF);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.inner-shade{
    background-color: white;
    width: 93%;
    height: 93%;
}
.project-image{
    position: absolute;
    z-index: 2;
    border: 5px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.bold{
    font-weight: 700;
    font-size: 30px;
}

.github-repo p,
.github-repo .logo {
    display: inline; /* Make both <p> and <a> inline */
}
@media (max-width: 768px) {
    .bold{
        font-size: 20px;
    }
    .project-text, .image-div{
        height: 300px;
    }
    .image-div{
        height: 250px;
        width: 50%;
    }
}
/*-- End of Project-*/

/*-- Contact-*/
.contact{
    
    background-image: url('images/contact-bg2.png'); 
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;  
    padding-top: 4% ;
}
.contact .intro-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 150px;

}

.contact-content{
    width: 90%;
    box-sizing: border-box;
}
.handshake-img{
    width: 80%;
    height: 70%;
}
.letschat {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-form{
    width: 50%;
    height: 100%;
    text-align: center;
}


.client-info, .client-message, .submit-btn{
    width: 80%;
    border-radius: 30px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.client-info{
    height: 4em;
}

.client-message{
    height: 8em;
}
.submit-btn{
    width: 80%;
    height: 2.5em;
    color: white;
    font-size: 23px;
    background: linear-gradient(to bottom right, #6DC7FF, #E6ABFF);
    border: none;
    outline: none; /* Remove outline on focus */
    box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
    color: rgb(127, 122, 122);
    font-family: "Gill Sans", sans-serif;
}

textarea {
    resize: none; /* Disable resizing */
    box-sizing: border-box;
    padding-left: 20px; 
    padding-top: 10px;
}

/* Hide the resize handle specifically for WebKit-based browsers */
textarea::-webkit-resizer {
    display: none;
}

input[type="text"], input[type="email"] {
    padding-left: 20px; /* Adjust the padding as needed */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.intro-sec a{
    text-decoration: none;
    font-weight: 550;
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
}
.bold-grey{
    color:rgb(94, 92, 92);
}
.client-info:hover, .client-message:hover {
    background-color: rgb(245, 245, 245);
    border: grey 0.5px solid;
}
.submit-btn:hover{
    background: linear-gradient(to bottom right, #339bdc, #b03ce2);
}

@media (max-width: 768px) {

    .contact-content{
        flex-direction: column; 
    }
    .letschat, .submit-form{
        width: 100% ;
    }
    .letschat{
        justify-content: unset;
        height: 30%;
        box-sizing: border-box;
    }
    .handshake-img{
        padding-top: 5%;
        width: 60%;
        height:100%
    }
    .client-info, .client-message, .submit-btn{
        width: 90%;
        display: block;
        margin: 20px auto;
        height: 2.5em;
    }
    .client-message{
        height: 7em;
    }
    .submit-btn{
        height: 2em;
        font-size: 20px;
        width: 40%;
    }
    .contact .intro-sec{
        padding-top: 15%;
    }
}
/*-- End of Contact-*/

/*--Thank you page-*/
.thankyou-page{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
.thanks-img{
    width: 400px;
    height: 350px;
}
.p-div{
    padding-bottom: 2%;
}


.home-button {
    padding: 1% 1%;
    background-color: white; /* Button background color */
    text-decoration: none; /* Remove underlines from the link */
    border-radius: 20px; /* Rounded corners */
    border: 1.5px solid black;
}
.home-button:hover{
    background-color: rgb(245, 245, 245);

}

@media (max-width: 768px) {
    .thankyou-page h1{
        font-size: 25px;
    }
    .thanks-img{
        padding-top: 10%;
        width: 300px;
        height: 250px;
        top: 3;
    }
    .thankyou-page{
        justify-content: unset;
    }
    .bigger{
        width: 28px; /* Adjust the width to make the logos smaller */
        height: 28px;
    }
}

/* animate */
.hidden{
    opacity: 0;
    transition: all 1s;
}
.show{
    opacity: 1;
}

@media (prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

/*--End of Thank you page-*/


/*-- body--*/
